/* bootstrap 3 helpers */
.navbar-form input, .form-inline input {
  width: auto; }

/* end */
/* custom theme */
header {
  /*min-height: 230px;*/
  margin-bottom: 5px; }

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static; }

  #sidebar.affix {
    position: fixed;
    top: 0;
    width: 21.2%; } }
.affix, .affix-top {
  position: static; }

/* theme */
body {
  color: #828282;
  background-color: #eee; }

a, a:hover {
  color: #379BB9;
  text-decoration: none; }

.highlight-bk {
  background-color: #379BB9;
  padding: 1px;
  width: 100%; }

.highlight {
  color: #379BB9; }

h3.highlight {
  padding-top: 13px;
  padding-bottom: 14px;
  border-bottom: 2px solid #379BB9; }

.navbar {
  background-color: #379BB9;
  color: #ffffff;
  border: 0;
  border-radius: 0; }

.navbar-nav > li > a {
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #379BB9; }

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: #666666; }

.navbar-nav > li:last-child > a {
  border-right: 1px solid #379BB9; }

.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent; }

.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
  color: #f0f0f0;
  background-color: transparent;
  opacity: .9;
  border-color: #379BB9; }

.nav .open > a {
  border-color: #777777;
  border-width: 0; }

.accordion-group {
  border-width: 0; }

.dropdown-menu {
  min-width: 250px; }

.accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a {
  padding-left: 1px; }

.caret {
  color: #fff; }

.navbar-toggle {
  color: #fff;
  border-width: 0; }

.navbar-toggle:hover {
  background-color: #fff; }

.panel {
  padding-left: 27px;
  padding-right: 27px; }

/* end theme */

/*# sourceMappingURL=styles.css.map */
