﻿<div class="panel">

    <h1> Установка и настройка</h1>
    <ol>
        <li> Загрузить архив на маршрутизатор (scp,sftp,ftp)</li>
        <li> Распаковать (например: 'tar zxf xupnpd.tar.gz')</li>
        <li> Запустить ('xupnpd/xupnpd-mipsel' или 'xupnpd/xupnpd-ar71xx')</li>
        <li> Перейти браузером по ссылке '<a href="http://192.168.1.1:4044">http://192.168.1.1:4044'</a> (192.168.1.1 -
            адрес Вашего маршрутизатора)
        </li>
        <li> Загрузить Ваш IPTV плейлист в формате M3U</li>
        <li> Наслаждаемся IPTV в Вашем DLNA-совместимом плеере</li>
    </ol>
</div>