﻿<div class="panel">

    <h1>Пример файла настроек </h1>

    <p><b>xupnpd.lua</b>
    </p>
<pre>
<code class="lua">-- Название сетевого интерфейса для анонса медиа-сервера в локальную сеть, например:'eth0', 'br0',
    'br-lan' (зависит от оборудования)
    cfg.ssdp_interface='br0'

    -- Заставляет хост получать собственные мультикаст анонсы в случае когда и сервер и плеер находятся на одной машине
    cfg.ssdp_loop=0

    -- HTTP для входящих соединений (в т.ч. для Web-интерфейса)
    cfg.http_port=4044

    -- Определяет куда писать логи (syslog,local0-local7)
    cfg.log_facility='local0'

    -- Запускаться в режиме "демона"
    cfg.daemon=true

    -- Не писать логи и не создавать pid-файл
    cfg.embedded=true

    -- Включает трассировку SSDP анонсов (работает только когда cfg.daemon=false)
    -- 0-выключить, 1-основная информация, 2-сообщения целиком
    cfg.debug=1

    -- URL для использования внешнего прокси мультикаст потоков (адреса вида: udp://@...). Для включения встроенного
    прокси закомментировать!
    --cfg.udpxy_url='http://192.168.1.1:4022'

    -- Имя сетевого интерфейса (обычно WAN) для получения мультикаст потоков от провайдера через встроенный прокси
    cfg.mcast_interface='eth1'

    -- Способ проксирования юникаст HTTP потоков
    -- 0-не проксировать (анонсировать URL как есть), 1-проксировать только радио, 2-проксировать (пропускать через
    себя) ВСЕ
    cfg.proxy=2

    -- Сетевой таймаут
    cfg.http_timeout=15

    -- Включить передачу DLNA extras
    cfg.dlna_extras=true

    -- Режим совместимости с XBox 360
    cfg.xbox360=false

    -- Включить UPnP/DLNA уведомления об изменениях в плейлистах
    cfg.dlna_notify=true

    -- Группировать контент по 'group-title'
    cfg.group=true

    -- Отображаемое название устройства
    cfg.name='UPnP-IPTV'

    -- Уникальный идентификатор устройства (если nil, то формируется новый при каждом запуске)
    cfg.uuid='60bd2fb3-dabe-cb14-c766-0e319b54c29a'

    -- Тип IPTV потока по умолчанию (mpeg, mpeg1, mpeg2, ts)
    cfg.default_mime_type='mpeg'

    -- Частота обновления фидов в секундах (0 - не обновлять)
    cfg.feeds_update_interval=0

    -- Плейлисты
    playlist=
    {
    { './playlists/mozhay.m3u', 'Mozhay.tv' }, -- M3U плейлист с названием Mozhay.tv
    { './localmedia', 'Local Media Files', '127.0.0.1;192.168.1.1' } -- Папка с файлами, доступна только с адресов
    127.0.0.1 и 192.168.1.1
    }

    -- Фиды (название расширения, наименование фида, отображаемое название фида)
    feeds=
    {
    { 'vimeo', 'channel/hd', 'Vimeo HD Channel' },
    { 'vimeo', 'channel/hdxs', 'HD Xtreme sports' },
    { 'vimeo', 'channel/mtb', 'Mountain Bike Channel' },
    { 'youtube', 'channel/top_rated', 'YouTube Top Rated' },
    }
</code>
</pre>

</div>