﻿<div class="panel">
    <h1>Downloads </h1>
    <b>xupnpd</b> - eXtensible UPnP agent
    <p>This program is a light DLNA Media Server which provides ContentDirectory:1 service for sharing IPTV unicast
        streams over
        local area network (with <b>udpxy</b> for multicast to HTTP unicast conversion).</p>

    <p>The program shares UTF8-encoded M3U playlists with links over local area network as content of the directory.</p>

    <p>You can watch HDTV broadcasts (multicast or unicast) and listen Internet Radio in IP network without transcoding
        and PC.</p>


    <div class="row">


        <div class="col-md-12">


            <p>Binary build for <b>Broadcom</b> and <b>Atheros</b> routers</p>

            <ul>
                <li><a href="https://drive.google.com/file/d/0B-F25LE4in_xbkg2N1UyMGZ1TmM/view?usp=sharing">xupnpd-1_033.tar.gz</a>
                    (2015-01-23)
                </li>
                <li><a href="https://drive.google.com/file/d/0B-F25LE4in_xSEJZRFVjTGtpd2c/view?usp=sharing">xupnpd-1_033-static.tar.gz</a>
                    (2015-01-23)
                </li>
                <li><a href="http://tsdemuxer.googlecode.com/svn/trunk/xupnpd/src/plugins/xupnpd_youtube.lua">YouTube
                    hot fix</a> (2014-03-07)
                </li>
                <li><a href="http://tsdemuxer.googlecode.com/svn/trunk/xupnpd/src/plugins/xupnpd_vimeo.lua">Vimeo hot
                    fix</a> (2013-11-18)
                </li>
                <li><a href="http://tsdemuxer.googlecode.com/svn/trunk/xupnpd/src/plugins/xupnpd_youtube.lua">YouTube
                    hot fix</a> (2013-07-22)
                </li>
                <li><a href="http://tsdemuxer.googlecode.com/files/xupnpd-1_03.tar.gz">xupnpd-1_03.tar.gz</a></li>
                <li>
                    <a href="http://tsdemuxer.googlecode.com/files/xupnpd-1_03-static.tar.gz">xupnpd-1_03-static.tar.gz</a>
                </li>
                <li><a href="http://tsdemuxer.googlecode.com/files/xupnpd-1_01.tar.gz">xupnpd-1_01.tar.gz</a> (release
                    121130)
                </li>
                <li>
                    <a href="http://tsdemuxer.googlecode.com/files/xupnpd-1_01-static.tar.gz">xupnpd-1_01-static.tar.gz</a>
                    (release 121130)
                </li>
                <li><a href="http://tsdemuxer.googlecode.com/files/xupnpd-rc14.tar.gz">xupnpd-rc14.tar.gz</a></li>
                <li>
                    <a href="http://tsdemuxer.googlecode.com/files/xupnpd-rc14-static.tar.gz">xupnpd-rc14-static.tar.gz</a>
                </li>
                <li><a href="http://tsdemuxer.googlecode.com/files/xupnpd-rc13.tar.gz">xupnpd-rc13.tar.gz</a></li>
                <li>
                    <a href="http://tsdemuxer.googlecode.com/files/xupnpd-rc13-static.tar.gz">xupnpd-rc13-static.tar.gz</a>
                </li>
                <li><a href="http://tsdemuxer.googlecode.com/files/xupnpd-rc12.tar.gz">xupnpd-rc12.tar.gz</a> (YouTube
                    hotfix, PS3 - err 80710091 and 80710004 fix)
                </li>
                <li><a href="http://tsdemuxer.googlecode.com/files/xupnpd-rc10.tar.gz">xupnpd-rc10.tar.gz</a></li>
                <li><a href="http://tsdemuxer.googlecode.com/files/xupnpd-rc9.tar.gz">xupnpd-rc9.tar.gz</a></li>
            </ul>


            <p>Ubuntu 10.04 package (ia-32)</p>
            <ul>
                <li><a href="http://tsdemuxer.googlecode.com/files/xupnpd_1.03-ubuntu1_i386.deb">xupnpd_1.03-ubuntu1_i386.deb</a>
                    (130222)
                </li>
                <li><a href="http://tsdemuxer.googlecode.com/files/xupnpd_1.01-ubuntu1_i386.deb">xupnpd_1.01-ubuntu1_i386.deb</a>
                    (release 121130)
                </li>
                <li><a href="http://tsdemuxer.googlecode.com/files/xupnpd_1.0-rc14-ubuntu1_i386.deb">xupnpd_1.0-rc14-ubuntu1_i386.deb</a>
                </li>
                <li><a href="http://tsdemuxer.googlecode.com/files/xupnpd_1.0-rc12-ubuntu1_i386.deb">xupnpd_1.0-rc12-ubuntu1_i386.deb</a>
                </li>
                <li><a href="http://tsdemuxer.googlecode.com/files/xupnpd_1.0-rc10-ubuntu1_i386.deb">xupnpd_1.0-rc10-ubuntu1_i386.deb</a>
                </li>
                <li><a href="http://tsdemuxer.googlecode.com/files/xupnpd_1.0-rc9-ubuntu1_i386.deb">xupnpd_1.0-rc9-ubuntu1_i386.deb</a>
                </li>
                <li><a href="http://tsdemuxer.googlecode.com/files/xupnpd_1.0-rc8-ubuntu1_i386.deb">xupnpd_1.0-rc8-ubuntu1_i386.deb</a>
                </li>
            </ul>
            <p>Other</p>
            <ul>
                <li> Samsung B/C/D series, DreamBox - <a href="http://forum.samygo.tv/download/file.php?id=957">here</a>
                    and <a href="http://forum.samygo.tv/download/file.php?id=953">here</a></li>
                <li><a href="http://forum.samygo.tv/download/file.php?id=960">NAS arm5 device</a></li>
                <li><a href="/downloads/DM500HD">DreamBox DM500HD</a></li>
                <li><a href="/downloads/win/xupnpdw.zip">Cygwin</a></li>
                <li><a href="/downloads/MyBook">WD My Book Live</a></li>
                <li><a href="/downloads/RT-AC87U">RT-AC87U</a> (<a
                        href="http://feedback.telecom.by/idea/details/id/70720#form_edit_comment_form">info</a>)
                </li>
            </ul>
            <p>Asus RT-N56U (package):</p>
            <ul>
                <li><a href="http://rt-n56u.googlecode.com/files/xupnpd-rt_n56u-1rc6.ipk">ASUS RT-N56U</a>
                </li>
            </ul>
            <p>Source code</p>
            <ul>
                <li> svn co <a href="http://tsdemuxer.googlecode.com/svn/trunk/xupnpd">http://tsdemuxer.googlecode.com/svn/trunk/xupnpd</a>
                </li>
                <li> GitHub co <a href="https://github.com/clark15b/xupnpd">https://github.com/clark15b/xupnpd</a></li>
                <li> Makefile for Zyxel Keenetic - <a
                        href="http://zyxel-keenetic-packages.googlecode.com/svn/trunk/package/built/xupnpd">http://zyxel-keenetic-packages.googlecode.com/svn/trunk/package/built/xupnpd</a>
                    (thanks to <a href="http://www.zyxmon.org/indexe.php">Zyxmon</a>)
                </li>
            </ul>


        </div>

    </div>


</div>