﻿<div class="panel">

    <h1>Возможности </h1>
    <ul>
        <li>Встроенный DLNA/UPnP медиа-сервер для анонса списка каналов или медиа-файлов в локальную сеть
        <li>Поддержка HTTP источников (список URL с адресами потоков в Интернете)
        <li>Встроенный мультикаст прокси для IPTV от домашнего Интернет-провайдера
        <li>Классический медиа-сервер для предоставления общего доступа к видео-файлам в домашней сети
        <li>Поддержка YouTube, Vimeo, Vkontakte, IVI, GameTrailers, AG и т.п.
        <li>Просмотр видео высокого разрешения (HD)
        <li>Интернет-радио
        <li>Механизм расширений на языке Lua для поддержки новых источников видео
        <li>Отсутствие транскодирования
        <li>M3U плейлисты
        <li>Автоматическое обновление списка роликов (фидов) или каналов по расписанию
        <li>Группировка контента и древовидное отображение
        <li>Списки контроля доступа и родительский контроль
        <li>Web-интерфейс и возможность создания внешних программ для управления
        <li>Возможность модификации путем Lua-скриптинга
        <li>Open source
    </ul>
</div>