﻿<div class="panel">
    <h1>О программе</h1>
    xupnpd - eXtensible UPnP agent
    Эта программа является простым и переносимым UPnP медиа-сервером для осуществления IPTV трансляций в рамках домашней
    сети на DLNA совместимых устройствах без поддержки мультикастинга или плейлистов со списком Интернет-адресов
    источников контента.
    xupnpd может быть установлен на домашний WiFi роутер, что даст возможность просмотра Интернет-телевиденья на
    множестве домашних устройств без использования компьютера и специализированных ТВ приставок Вашего домашнего
    Интернет провайдера (при условии отсутствия шифрования). Кроме того существует возможность просмотра спутникового
    телевиденья на множестве телевизоров имея всего один ресивер.
    Программа не имеет сертификата соответствия требованиям DLNA но умеет анонсировать в локальную сеть M3U список
    юникаст или мультикаст ТВ-каналов используя UPnP/DLNA механизмы в объеме достаточном для просмотра IPTV местного
    провайдера или роликов с Vimeo на Sony PlayStation 3, планшетах и многих моделях телевизоров Smart TV.
    В случае мультикаст каналов программа может осуществлять преобразование в юникаст поверх HTTP сама либо с
    использованием udpxy. При преобразовании не происходит транскодирования сигнала — только смена способа доставки до
    плеера. Существует возможность просмотра как SD так и HD каналов.
    Все что нужно — роутер или компьютер под управлением OS Linux и DLNA совместимый плеер/телевизор.
    </br>
    В качестве плееров на совместимость с xupnpd проверялись:
    <ul>
        <li>Sony PlayStation 3 с заводской прошивкой
        <li>Iconbit HDS4L, WDTV Live
        <li>HTC Desire (Android + UPnPlay/BubbleUPnP + Vplayer/MX Video Player)
        <li>Телевизоры Samsung UE46D6510, Samsung UE40D5000PW, Samsung LE40c550, Samsung LE40B650, Samsung UE40C6000,
            Samsung US46ES6100, Samsung UE32EH6037, LG PZ750, Sony 26EX231, Philips 47pfl7606h
        <li>Microsoft Windows Media Player 11, VideoLAN (Ubuntu 10.04)
    </ul>
</div>