﻿<div class="panel">

    <h1> Пример плейлиста </h1>
<pre>
#EXTM3U name=&quot;My IPTV&quot;
#EXTINF:0 logo=http://butovo.com/iptv/iskra_channels_files/perviy00.jpg type=mpeg dlna_extras=mpeg_ps_pal ,Channel 1
udp://@234.5.2.8:20000
#EXTINF:0,Channel 2
http://192.168.1.1:4022/udp/234.5.2.2:20000
#EXTINF:0 group-title=&quot;Main&quot;,Channel 3
http://020.mozhay.tv
#EXTINF:0 logo=http://b.vimeocdn.com/ts/204/056/204056508_200.jpg type=mp4 plugin=vimeo,The Curious Fate of Humankind
http://vimeo.com/30381893
#EXTINF:0 logo=http://i.ytimg.com/vi/kffacxfA7G4/1.jpg type=mp4 plugin=youtube,Justin Bieber - Baby ft. Ludacris
http://www.youtube.com/watch?v=kffacxfA7G4&amp;feature=youtube_gdata
#EXTINF:0 logo=http://i.ytimg.com/vi/KQ6zr6kCPj8/1.jpg type=mp4 plugin=youtube,LMFAO - Party Rock Anthem ft. Lauren Bennett, GoonRock
http://www.youtube.com/watch?v=KQ6zr6kCPj8&amp;feature=youtube_gdata
</pre>
    <p><b>'#EXTM3U'</b> атрибуты:
    </p>
    <ul>
        <li> name - название плейлиста
        </li>
        <li> type - тип видео по умолчанию
        </li>
        <li> dlna_extras - DLNA профиль по умолчанию
        </li>
        <li> plugin - название обработчика (расширения) для всего плейлиста по умолчанию (для YouTube, Vimeo и т.п.)
        </li>
    </ul>
    <p>'<b>#EXTINF'</b> атрибуты:
    </p>
    <ul>
        <li> logo - URL логотипа (картинка в формате jpeg)
        </li>
        <li> group-title - название группы (элементы с одинаковым значением группируются в одной папке)
        </li>
        <li> type - тип видео
        </li>
        <li> dlna_extras - DLNA профиль
        </li>
        <li> plugin - название обработчика (расширения)
        </li>
    </ul>
    <p>Атрибут '<b>type'</b> может иметь следующие значения: avi, asf, wmv, mp4, mpeg, mpeg1, mpeg2, ts, mp2t, mp2p,
        mov, mkv, 3gp, flv, aac, ac3, mp3, ogg, wma
    </p>

    <p>Атрибут '<b>dlna_extras'</b> может иметь следующие значения: none, mpeg_ps_pal, mpeg_ps_pal_ac3, mpeg_ps_ntsc,
        mpeg_ps_ntsc_ac3, mpeg1, mpeg_ts_sd, mpeg_ts_hd, avchd, wmv_med_base, wmv_med_full, wmv_med_pro, wmv_high_full,
        wmv_high_pro, asf_mpeg4_sp, asf_mpeg4_asp_l4, asf_mpeg4_asp_l5, asf_vc1_l1, mp4_avc_sd_mp3, mp4_avc_sd_ac3,
        mp4_avc_hd_ac3, mp4_avc_sd_aac, mpeg_ts_hd_mp3, mpeg_ts_hd_ac3, mpeg_ts_mpeg4_asp_mp3, mpeg_ts_mpeg4_asp_ac3,
        avi, divx5, mp3, ac3, wma_base, wma_full, wma_pro
    </p>

</div>