﻿<div class="panel">

    <h1>Требования</h1>
    <ul>
        <li>Маршрутизатор* на Atheros или Broadcom чипсете (ar71xx, mipsel и т.п.), например: D-Link DIR-320, ASUS
            WL-500GP, TP-LINK WR841ND или Zyxel Keenetic
        <li>Прошивка OpenWrt или DD-Wrt (либо другие кастомные прошивки на основе Linux)
        <li>Опционально udpxy
    </ul>

    * <i>Вместо роутера можно использовать PC либо иное оборудование под управлением операционной системы на основе
    Linux или BSD.</i>

</div>