﻿<div class="panel">

    <h1> Благодарность </h1>
    <ul>
        <li><a href="http://zyxmon.org">Zyxmon</a></li>
        <li><a href="http://lockyixbt.blogspot.com">happy.neko</a> aka Locky</li>
        <li><a href="mailto://leaigor@gmail.com">Laigor</a></li>
    </ul>

</div>