﻿<div class="panel">

    <h1> Configuration and installation</h1>
<ol><li> Upload archive to the router (scp,sftp,ftp)
</li><li> Unpack ('tar zxf xupnpd.tar.gz' for example)
</li><li> Run ('xupnpd/xupnpd-mipsel' or 'xupnpd/xupnpd-ar71xx')
</li><li> Point your Internet browser to '<a href="http://192.168.1.1:4044">http://192.168.1.1:4044'</a> (192.168.1.1 - replace with your router address)
</li><li> Upload your IPTV playlist (m3u file format)
</li><li> Enjoy IPTV in your DLNA media player
</li></ol>
</div>