﻿<div class="panel">

    <h2> HOWTO</h2>
    <ul>
        <li><a href="http://lockyixbt.blogspot.com/2011/12/iptv-playstation-3.html">wl500g+xupnpd</a></li>
        <li><a href="http://forum.samygo.tv/viewtopic.php?f=5&amp;t=2952">SamsungTV+xupnpd</a></li>
        <li><a href="http://www.eltex.nsk.ru/forum/viewt0pic.php?t=2128">Eltex NTE-RG-1402F-W forum</a></li>
        <li><a href="http://iptv-cheb.narod.ru/">iptv-cheb.narod.ru</a></li>
        <li><a href="http://iptv-cheb.narod.ru/index/0-4">iptv-cheb.narod.ru - xupnpd manual</a></li>
        <li><a href="http://iptv-cheb.narod.ru/index/0-2">iptv-cheb.narod.ru - Zyхеl Кееnеtiс Litе manual</a></li>
        <li><a href="http://iptv-cheb.narod.ru/index/0-11">iptv-cheb.narod.ru - Zyхеl Кееnеtiс manual</a></li>
    </ul>

</div>