﻿<div class="panel">

    <h1>Features </h1>
    <ul>
        <li> Builtin DLNA/UPnP media server for sharing local media files and external IPTV/Radio streams
        </li>
        <li> Builtin multicast proxy for MPEG-TS streams
        </li>
        <li> YouTube, Vimeo and GameTrailers plugins (HD)
        </li>
        <li> No transcoding
        </li>
        <li> HDTV ready
        </li>
        <li> Parent control (Access Control List)
        </li>
        <li> Web-based user interface
        </li>
        <li> LUA scripting
        </li>
    </ul>
</div>