﻿<div class="panel">

    <h1>About xupnpd</h1>


    <b>xupnpd</b> - eXtensible UPnP agent
    </p><p>This program is a light DLNA Media Server which provides ContentDirectory:1 service for sharing IPTV unicast
    streams over local area network (with <b>udpxy</b> for multicast to HTTP unicast conversion).
</p>

    <p>The program shares UTF8-encoded M3U playlists with links over local area network as content of the directory.
    </p>

    <p>You can watch HDTV broadcasts (multicast or unicast) and listen Internet Radio in IP network without transcoding
        and PC.
    </p>

    <br>
    Multicast IPTV without transcoding (xupnpd+udpxy) was tested with:
    <ul>
        <li> Ubuntu 10.04 (Linux, IA-32) as Media Server
        </li>
        <li> D-Link DIR-320 (DD-WRT v24 preSP2 13064, mipsel), ASUS WL-500gP, Asus N-16, TP-LINK WR841ND as Media Server
        </li>
        <li> Sony PlayStation 3 as UPnP player
        </li>
        <li> IconBit HDS4L, WDTV Live as UPnP player
        </li>
        <li> HTC Desire, HTC Sensation as UPnP player (Android 2.2 + UPnPlay/BubbleUPnP + VPlayer/MX Video Player)
        </li>
        <li> Samsung UE46D6510, Samsung UE40D5000PW, Samsung LE40c550, Samsung LE40B650, Samsung UE40C6000, Samsung
            US46ES6100, Samsung UE32EH6037, LG PZ750, Sony 26EX231, Philips 47pfl7606h as player
        </li>
        <li> Microsoft Windows Media Player 11 as UPnP player
        </li>
        <li> Ubuntu 10.04 with VideoLAN as UPnP player
        </li>
    </ul>

</div>