﻿<div class="panel">

    <h1>Requirements </h1>
    <ul>
        <li><b>mipsel</b> or <b>ar71xx</b> router, D-Link DIR-320 or ASUS WL-500GP for example (or PC with OS Linux)
        </li>
        <li><a href="http://openwrt.org">OpenWRT</a> or <a href="http://www.dd-wrt.com">DD-WRT</a> firmware (for routers
            only)
        </li>
        <li><a href="http://sourceforge.net/projects/udpxy">udpxy</a> for multicast sources
        </li>
    </ul>
</div>