﻿<div class="panel">

    <h1>Screenshots </h1>


    <a rel="iLoad|ScreenShot" style="margin-right:5px" href="images/scrin/Xupnpd1.jpeg"><img
            alt="images/scrin/Xupnpd1.jpeg" src="images/scrin/118px-Xupnpd1.jpeg" width="118" height="120"/></a>
    <a rel="iLoad|ScreenShot" style="margin-right:5px" href="images/scrin/Xupnpd2.jpeg"><img
            alt="images/scrin/Xupnpd2.jpeg" src="images/scrin/120px-Xupnpd2.jpeg" width="120" height="114"/></a>
    <a rel="iLoad|ScreenShot" style="margin-right:5px" href="images/scrin/Xupnpd3.jpeg"><img
            alt="images/scrin/Xupnpd3.jpeg" src="images/scrin/104px-Xupnpd3.jpeg" width="104" height="120"/></a><br><br>
    <a rel="iLoad|ScreenShot" style="margin-right:5px" href="images/scrin/Pshare1.jpg"><img
            alt="images/scrin/Pshare1.jpg" src="images/scrin/120px-Pshare1.jpg" width="120" height="90"/></a>
    <a rel="iLoad|ScreenShot" style="margin-right:5px" href="images/scrin/Pshare2.jpg"><img
            alt="images/scrin/Pshare2.jpg" src="images/scrin/120px-Pshare2.jpg" width="120" height="90"/></a>
    <a rel="iLoad|ScreenShot" style="margin-right:5px" href="images/scrin/Pshare3.jpg"><img
            alt="images/scrin/Pshare3.jpg" src="images/scrin/120px-Pshare3.jpg" width="120" height="90"/></a><br><br>
    <a rel="iLoad|ScreenShot" style="margin-right:5px" href="images/scrin/Pshare4.jpg"><img
            alt="images/scrin/Pshare4.jpg" src="images/scrin/120px-Pshare4.jpg" width="120" height="90"/></a>
    <a rel="iLoad|ScreenShot" style="margin-right:5px" href="images/scrin/Pshare5.jpg"><img
            alt="images/scrin/Pshare5.jpg" src="images/scrin/120px-Pshare5.jpg" width="120" height="90"/></a>
    <a rel="iLoad|ScreenShot" style="margin-right:5px" href="images/scrin/Pshare6.jpg"><img
            alt="images/scrin/Pshare6.jpg" src="images/scrin/120px-Pshare6.jpg" width="120" height="90"/></a><br>

</div>