﻿<div class="panel">
    <h1>Videos </h1>
    <b>xupnpd</b> - eXtensible UPnP agent
    <p>This program is a light DLNA Media Server which provides ContentDirectory:1 service for sharing IPTV unicast
        streams over.
        local area network (with <b>udpxy</b> for multicast to HTTP unicast conversion).</p>

    <p>The program shares UTF8-encoded M3U playlists with links over local area network as content of the directory.</p>

    <p>You can watch HDTV broadcasts (multicast or unicast) and listen Internet Radio in IP network without transcoding
        and PC.</p>


    <p>IPTV over <b>xupnpd</b> in PlayStation 3 and HTC Desire<br/>
        <iframe width="560" height="315" src="http://www.youtube.com/embed/YomT03aNvro" frameborder="0"
                allowfullscreen></iframe>
    </p>

    <p>IPTV over <b>xupnpd</b> in HTC Desire (UPnPlay + VPlayer)<br/>
        <iframe width="560" height="315" src="http://www.youtube.com/embed/_uFSHBfPzs8" frameborder="0"
                allowfullscreen></iframe>
    </p>

    <p>Samsung IPTV Zyxel Keenetic Lite with <b>xupnpd</b><br/>
        <iframe width="560" height="315" src="//www.youtube.com/embed/mBgLwany1Ns" frameborder="0"
                allowfullscreen></iframe>
    </p>

    <p>LG 2011 IPTV Zyxel Keenetic Lite with <b>xupnpd</b><br/>
        <iframe width="560" height="315" src="//www.youtube.com/embed/Tji2XlV_zGo" frameborder="0"
                allowfullscreen></iframe>
    </p>

    <p>Android Tablet IPTV Zyxel Keenetic Lite with <b>xupnpd</b><br/>
        <iframe width="560" height="315" src="//www.youtube.com/embed/VyqBiDyn48Y" frameborder="0"
                allowfullscreen></iframe>
    </p>

    <p><b>xupnpd</b> feeds<br/>
        <iframe width="560" height="315" src="//www.youtube.com/embed/iOUYsPs2Qkg" frameborder="0"
                allowfullscreen></iframe>
    </p>

    <p>powernet IpTv + dir-615 + Samsung 40d5000 with <b>xupnpd</b><br/>
        <iframe width="560" height="315" src="//www.youtube.com/embed/cTzMLoulqFk" frameborder="0"
                allowfullscreen></iframe>
    </p>

    <p>Old video (pshare + PS3)<br/>
        <iframe width="420" height="315" src="http://www.youtube.com/embed/yBqF-WKL8tk" frameborder="0"
                allowfullscreen></iframe>
    </p>

</div>